In [1]:
import pandas as pd

In [2]:
data=[1,2,3,4,5]
Series = pd.Series(data)
print(Series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
data=[1,2,3,4,5]
index = ['a','b','c','d','e']
Series = pd.Series(data, index = index)
print(Series)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns =['c0','c1','c2'], index = ['r0','r1','r2'])
print(df)

    c0  c1  c2
r0   1   2   3
r1   4   5   6
r2   7   8   9

In [6]:
obesity_data = pd.read_csv('./obesity_prediction.csv')

In [ ]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [8]:
obesity_data.tail()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [9]:
obesity_data.head(15)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I
11,Female,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II
12,Male,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,no,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
13,Male,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I
14,Male,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,no,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [10]:
obesity_data.tail(15)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2096,Female,25.955014,1.626449,104.879602,yes,yes,3.0,3.0,Sometimes,no,2.094901,no,0.070890,0.599441,Sometimes,Public_Transportation,Obesity_Type_III
2097,Female,25.996716,1.626580,105.037203,yes,yes,3.0,3.0,Sometimes,no,2.347322,no,0.008013,0.503896,Sometimes,Public_Transportation,Obesity_Type_III
2098,Female,25.992348,1.606474,104.954291,yes,yes,3.0,3.0,Sometimes,no,2.331123,no,0.063383,0.561661,Sometimes,Public_Transportation,Obesity_Type_III
2099,Female,25.974446,1.628855,108.090006,yes,yes,3.0,3.0,Sometimes,no,1.757105,no,0.085119,0.465444,Sometimes,Public_Transportation,Obesity_Type_III
2100,Female,25.777565,1.628205,107.378702,yes,yes,3.0,3.0,Sometimes,no,2.506631,no,0.025787,0.484165,Sometimes,Public_Transportation,Obesity_Type_III
2101,Female,25.722004,1.628470,107.218949,yes,yes,3.0,3.0,Sometimes,no,2.487070,no,0.067329,0.455823,Sometimes,Public_Transportation,Obesity_Type_III
2102,Female,25.765628,1.627839,108.107360,yes,yes,3.0,3.0,Sometimes,no,2.320068,no,0.045246,0.413106,Sometimes,Public_Transportation,Obesity_Type_III
2103,Female,21.016849,1.724268,133.033523,yes,yes,3.0,3.0,Sometimes,no,1.650612,no,1.537639,0.912457,Sometimes,Public_Transportation,Obesity_Type_III
2104,Female,21.682367,1.732383,133.043941,yes,yes,3.0,3.0,Sometimes,no,1.610768,no,1.510398,0.931455,Sometimes,Public_Transportation,Obesity_Type_III
2105,Female,21.285965,1.726920,131.335786,yes,yes,3.0,3.0,Sometimes,no,1.796267,no,1.728332,0.897924,Sometimes,Public_Transportation,Obesity_Type_III
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [11]:
obesity_data.sample()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1593,Male,23.47007,1.842906,121.142535,yes,yes,3.0,2.701689,Sometimes,no,2.738485,no,0.992253,0.0,Sometimes,Public_Transportation,Obesity_Type_II

In [12]:
obesity_data.sample(19)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1258,Female,19.442663,1.627812,82.000000,yes,yes,1.081585,2.870661,Sometimes,no,1.117560,no,0.000000,1.616826,Sometimes,Public_Transportation,Obesity_Type_I
199,Female,23.000000,1.660000,60.000000,yes,yes,2.000000,1.000000,Sometimes,no,1.000000,no,1.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
2040,Female,25.982261,1.629225,104.838425,yes,yes,3.000000,3.000000,Sometimes,no,2.556068,no,0.016820,0.582840,Sometimes,Public_Transportation,Obesity_Type_III
1885,Female,26.000000,1.640125,111.539494,yes,yes,3.000000,3.000000,Sometimes,no,2.625537,no,0.000000,0.162494,Sometimes,Public_Transportation,Obesity_Type_III
521,Female,19.000000,1.564199,42.096062,no,yes,3.000000,1.894384,Sometimes,no,2.456581,yes,1.596576,0.997400,no,Public_Transportation,Insufficient_Weight
1989,Female,26.000000,1.626503,110.818757,yes,yes,3.000000,3.000000,Sometimes,no,2.708927,no,0.000000,0.278962,Sometimes,Public_Transportation,Obesity_Type_III
1716,Male,25.523127,1.786532,114.534678,yes,yes,2.100177,3.000000,Sometimes,no,2.099687,no,1.281165,0.247332,Sometimes,Public_Transportation,Obesity_Type_II
650,Female,23.035829,1.598612,42.993937,no,no,2.753752,2.812377,Frequently,no,2.346647,no,1.612248,0.000000,no,Public_Transportation,Insufficient_Weight
1575,Male,29.883021,1.779049,112.438508,yes,yes,2.065752,3.000000,Sometimes,no,2.078297,no,0.000000,0.677354,Sometimes,Automobile,Obesity_Type_II
1252,Male,23.000000,1.791415,105.138073,yes,yes,2.262171,3.000000,Sometimes,no,2.034150,no,0.317363,0.508663,Sometimes,Public_Transportation,Obesity_Type_I
1549,Male,23.454558,1.754218,117.384745,yes,yes,1.617093,3.000000,Sometimes,no,2.000000,no,1.818052,0.631825,Sometimes,Public_Transportation,Obesity_Type_II
786,Female,23.712590,1.588597,62.339003,no,yes,2.397280,2.656588,Sometimes,no,2.061062,no,1.912981,1.887386,Sometimes,Public_Transportation,Overweight_Level_I
1772,Male,25.012770,1.788586,117.849351,yes,yes,2.191108,2.993856,Sometimes,no,2.444917,no,1.055854,0.145284,Sometimes,Public_Transportation,Obesity_Type_II
525,Female,19.869970,1.520997,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.527036,no,0.000000,0.860497,Sometimes,Public_Transportation,Insufficient_Weight
532,Male,22.851834,1.854592,63.611109,yes,yes,3.000000,3.691226,Sometimes,no,2.650989,no,1.228136,0.832400,Sometimes,Automobile,Insufficient_Weight
1672,Male,30.796262,1.668478,100.543983,yes,yes,2.955300,2.378211,Sometimes,no,1.000000,no,1.738267,0.394533,no,Public_Transportation,Obesity_Type_II
439,Female,19.000000,1.600000,60.000000,no,yes,2.000000,3.000000,Frequently,no,2.000000,no,0.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
1373,Male,26.032416,1.824432,105.131956,yes,yes,3.000000,3.000000,Sometimes,no,2.110611,no,1.890907,1.584830,Sometimes,Public_Transportation,Obesity_Type_I
1968,Female,25.909353,1.644078,102.277765,yes,yes,3.000000,3.000000,Sometimes,no,1.029241,no,0.075776,1.000000,Sometimes,Public_Transportation,Obesity_Type_III

In [13]:
obesity_data.sample(10, random_state=19)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2061,Female,25.964788,1.623938,109.984263,yes,yes,3.000000,3.000000,Sometimes,no,2.471721,no,0.000096,0.433463,Sometimes,Public_Transportation,Obesity_Type_III
421,Male,18.000000,1.840000,60.000000,yes,yes,3.000000,4.000000,Sometimes,no,2.000000,yes,2.000000,0.000000,Sometimes,Automobile,Insufficient_Weight
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.000000,3.000000,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2093,Female,26.000000,1.645990,111.922491,yes,yes,3.000000,3.000000,Sometimes,no,2.786780,no,0.000000,0.097760,Sometimes,Public_Transportation,Obesity_Type_III
1966,Female,24.063874,1.737313,133.166595,yes,yes,3.000000,3.000000,Sometimes,no,2.846259,no,1.295759,0.723154,Sometimes,Public_Transportation,Obesity_Type_III
962,Female,19.621545,1.566524,61.616000,no,yes,2.908757,2.696051,Sometimes,no,1.622827,yes,0.539952,0.001096,Sometimes,Public_Transportation,Overweight_Level_I
1915,Female,26.000000,1.616975,104.846218,yes,yes,3.000000,3.000000,Sometimes,no,2.653563,no,0.000000,0.554150,Sometimes,Public_Transportation,Obesity_Type_III
544,Female,20.406871,1.755978,53.699561,yes,yes,2.000000,3.891994,Frequently,no,1.863930,no,2.870127,2.000000,no,Public_Transportation,Insufficient_Weight
229,Male,32.000000,1.750000,120.000000,yes,no,3.000000,3.000000,Sometimes,no,3.000000,no,0.000000,2.000000,no,Automobile,Obesity_Type_II
1138,Female,20.820455,1.547066,67.473282,yes,no,2.303656,3.000000,Sometimes,no,1.163111,no,1.926381,1.119877,no,Public_Transportation,Overweight_Level_II

In [14]:
obesity_data.sample(10, random_state=13)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1185,Male,33.070142,1.709428,83.014033,yes,yes,2.000000,1.044628,Sometimes,no,2.010510,no,2.805801,0.000000,no,Automobile,Overweight_Level_II
1273,Male,29.000000,1.682916,89.991671,yes,yes,1.851262,3.000000,Sometimes,no,2.112670,no,0.388269,0.000000,Sometimes,Automobile,Obesity_Type_I
1431,Female,22.226815,1.609068,83.785312,yes,yes,2.094184,2.735706,Sometimes,no,2.257922,no,2.230547,0.195339,no,Public_Transportation,Obesity_Type_I
1823,Female,25.991886,1.580968,102.003378,yes,yes,3.000000,3.000000,Sometimes,no,1.003563,no,0.008127,1.000000,Sometimes,Public_Transportation,Obesity_Type_III
1778,Male,38.112989,1.766888,118.134898,yes,yes,2.240757,2.911568,Sometimes,no,1.895876,no,0.822186,0.000000,Sometimes,Automobile,Obesity_Type_II
801,Female,18.270434,1.737165,76.699774,yes,yes,2.838969,3.000000,Sometimes,no,2.425927,no,1.000000,1.453335,Frequently,Public_Transportation,Overweight_Level_I
1629,Male,32.867331,1.697421,103.017623,yes,yes,2.600217,2.175153,Sometimes,no,1.000000,no,1.985536,0.000000,no,Public_Transportation,Obesity_Type_II
1932,Female,25.959772,1.642098,104.966758,yes,yes,3.000000,3.000000,Sometimes,no,1.482002,no,0.204108,0.657221,Sometimes,Public_Transportation,Obesity_Type_III
107,Male,22.000000,1.880000,90.000000,yes,yes,2.000000,3.000000,Always,no,1.000000,no,0.000000,1.000000,Sometimes,Automobile,Overweight_Level_I
1900,Female,26.000000,1.657820,111.956110,yes,yes,3.000000,3.000000,Sometimes,no,2.777557,no,0.000000,0.051858,Sometimes,Public_Transportation,Obesity_Type_III

In [15]:
obesity_data.columns

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history', 'FAVC', 'FCVC',
       'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS',
       'Obesity'],
      dtype='object')

In [16]:
list(obesity_data.columns)

['Gender',
 'Age',
 'Height',
 'Weight',
 'family_history',
 'FAVC',
 'FCVC',
 'NCP',
 'CAEC',
 'SMOKE',
 'CH2O',
 'SCC',
 'FAF',
 'TUE',
 'CALC',
 'MTRANS',
 'Obesity']

In [17]:
obesity_data.columns.tolist()

['Gender',
 'Age',
 'Height',
 'Weight',
 'family_history',
 'FAVC',
 'FCVC',
 'NCP',
 'CAEC',
 'SMOKE',
 'CH2O',
 'SCC',
 'FAF',
 'TUE',
 'CALC',
 'MTRANS',
 'Obesity']

In [18]:
obesity_data.index

RangeIndex(start=0, stop=2111, step=1)

In [19]:
obesity_data.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [20]:
obesity_data.shape

(2111, 17)

In [21]:
obesity_data.size

35887

In [22]:
obesity_data.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [23]:
obesity_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

Accessing the data:

1. For accesing particular rows and columns we using lables we use loc.
2. For accesing particular rows and columns we using purely integer_location based indexing we use iloc.
3. For single value accessing at & iat is designed. It don't need extra validation , or any extra check.
           1. at is very similar to loc. 
           2. iat is similar to iloc.

4. For a particular columns 2 notations is used 
                                             1.Bracket Notation
                                             2.Dot Notation           

5. Bracket Notation is flexibale and more preffed.      
6. For Multiple Columns Bracket Notation is Most Preffed

In [24]:
obesity_data.loc[0,'Age']

np.float64(21.0)

In [25]:
obesity_data.loc[0:5,'Age']

0    21.0
1    21.0
2    23.0
3    27.0
4    22.0
5    29.0
Name: Age, dtype: float64

In [26]:
obesity_data.loc[0:5,['Age','Height','Weight']]

    Age  Height  Weight
0  21.0    1.62    64.0
1  21.0    1.52    56.0
2  23.0    1.80    77.0
3  27.0    1.80    87.0
4  22.0    1.78    89.8
5  29.0    1.62    53.0

In [27]:
obesity_data.loc[[0,58,31],['Age','Height','Weight']]

     Age  Height  Weight
0   21.0    1.62    64.0
58  17.0    1.65    67.0
31  31.0    1.58    68.0

In [28]:
obesity_data.loc[0:13, 'Age':'FAF']

,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF
0,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0
1,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0
2,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0
3,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0
4,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0
5,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0
6,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0
7,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0
8,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0
9,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0
10,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0
11,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,no,2.0,yes,2.0
12,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,no,3.0,no,2.0
13,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0

In [29]:
obesity_data.loc[10:31]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I
11,Female,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II
12,Male,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,no,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
13,Male,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I
14,Male,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,no,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
15,Female,22.0,1.70,66.0,yes,no,3.0,3.0,Always,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
16,Male,27.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
17,Female,29.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I
18,Female,30.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II
19,Female,23.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
20,Male,22.0,1.65,80.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,3.0,2.0,no,Walking,Overweight_Level_II
21,Female,52.0,1.69,87.0,yes,yes,3.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I
22,Female,22.0,1.65,60.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Automobile,Normal_Weight
23,Female,22.0,1.60,82.0,yes,yes,1.0,1.0,Sometimes,no,2.0,no,0.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I
24,Male,21.0,1.85,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
25,Male,20.0,1.60,50.0,yes,no,2.0,4.0,Frequently,yes,2.0,no,3.0,2.0,no,Public_Transportation,Normal_Weight
26,Male,21.0,1.70,65.0,yes,yes,2.0,1.0,Frequently,no,2.0,no,1.0,2.0,Always,Walking,Normal_Weight
27,Female,23.0,1.60,52.0,no,yes,2.0,4.0,Frequently,no,2.0,no,2.0,1.0,Sometimes,Automobile,Normal_Weight
28,Male,19.0,1.75,76.0,yes,yes,3.0,3.0,Sometimes,no,2.0,yes,3.0,1.0,Sometimes,Public_Transportation,Normal_Weight
29,Male,23.0,1.68,70.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0,2.0,Frequently,Walking,Normal_Weight
30,Male,29.0,1.77,83.0,no,yes,1.0,4.0,Frequently,no,3.0,no,0.0,1.0,no,Motorbike,Overweight_Level_I
31,Female,31.0,1.58,68.0,yes,no,2.0,1.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [30]:
obesity_data.loc[:,'Age':'FAF']

,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF
0,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000
1,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000
2,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000
3,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000
4,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
2106,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269
2107,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390
2108,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209
2109,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107
2110,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452

In [31]:
obesity_data.loc[:21, 'Age':'CALC']

,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC
0,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no
1,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes
2,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently
3,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently
4,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes
5,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes
6,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes
7,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes
8,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently
9,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no
10,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0,2.0,Sometimes
11,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,no,2.0,yes,2.0,1.0,Sometimes
12,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,no,3.0,no,2.0,0.0,Sometimes
13,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently
14,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,no,1.0,no,1.0,1.0,Sometimes
15,22.0,1.70,66.0,yes,no,3.0,3.0,Always,no,2.0,yes,2.0,1.0,Sometimes
16,27.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes
17,29.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,no
18,30.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no
19,23.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes
20,22.0,1.65,80.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,3.0,2.0,no
21,52.0,1.69,87.0,yes,yes,3.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,no

In [32]:
obesity_data.loc[2100:,]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2100,Female,25.777565,1.628205,107.378702,yes,yes,3.0,3.0,Sometimes,no,2.506631,no,0.025787,0.484165,Sometimes,Public_Transportation,Obesity_Type_III
2101,Female,25.722004,1.628470,107.218949,yes,yes,3.0,3.0,Sometimes,no,2.487070,no,0.067329,0.455823,Sometimes,Public_Transportation,Obesity_Type_III
2102,Female,25.765628,1.627839,108.107360,yes,yes,3.0,3.0,Sometimes,no,2.320068,no,0.045246,0.413106,Sometimes,Public_Transportation,Obesity_Type_III
2103,Female,21.016849,1.724268,133.033523,yes,yes,3.0,3.0,Sometimes,no,1.650612,no,1.537639,0.912457,Sometimes,Public_Transportation,Obesity_Type_III
2104,Female,21.682367,1.732383,133.043941,yes,yes,3.0,3.0,Sometimes,no,1.610768,no,1.510398,0.931455,Sometimes,Public_Transportation,Obesity_Type_III
2105,Female,21.285965,1.726920,131.335786,yes,yes,3.0,3.0,Sometimes,no,1.796267,no,1.728332,0.897924,Sometimes,Public_Transportation,Obesity_Type_III
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [33]:
obesity_data.loc[2100:, 'Height':'CH2O']

,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O
2100,1.628205,107.378702,yes,yes,3.0,3.0,Sometimes,no,2.506631
2101,1.628470,107.218949,yes,yes,3.0,3.0,Sometimes,no,2.487070
2102,1.627839,108.107360,yes,yes,3.0,3.0,Sometimes,no,2.320068
2103,1.724268,133.033523,yes,yes,3.0,3.0,Sometimes,no,1.650612
2104,1.732383,133.043941,yes,yes,3.0,3.0,Sometimes,no,1.610768
2105,1.726920,131.335786,yes,yes,3.0,3.0,Sometimes,no,1.796267
2106,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139
2107,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130
2108,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193
2109,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339
2110,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513

In [34]:
obesity_data.iloc[0,4]

'yes'

In [35]:
obesity_data.iloc[0:10,4]

0    yes
1    yes
2    yes
3     no
4     no
5     no
6    yes
7     no
8    yes
9    yes
Name: family_history, dtype: object

In [36]:
obesity_data.iloc[10:31, 2:6]

    Height  Weight family_history FAVC
10    1.85   105.0            yes  yes
11    1.72    80.0            yes  yes
12    1.65    56.0             no   no
13    1.80    99.0             no  yes
14    1.77    60.0            yes  yes
15    1.70    66.0            yes   no
16    1.93   102.0            yes  yes
17    1.53    78.0             no  yes
18    1.71    82.0            yes  yes
19    1.65    70.0            yes   no
20    1.65    80.0            yes   no
21    1.69    87.0            yes  yes
22    1.65    60.0            yes  yes
23    1.60    82.0            yes  yes
24    1.85    68.0            yes  yes
25    1.60    50.0            yes   no
26    1.70    65.0            yes  yes
27    1.60    52.0             no  yes
28    1.75    76.0            yes  yes
29    1.68    70.0             no  yes
30    1.77    83.0             no  yes

In [37]:
obesity_data.iloc[[0,35,25,21],[2,4,8,6,]]

    Height family_history        CAEC  FCVC
0     1.62            yes   Sometimes   2.0
35    1.50            yes   Sometimes   2.0
25    1.60            yes  Frequently   2.0
21    1.69            yes   Sometimes   3.0

In [38]:
obesity_data.at[4,'Age']

np.float64(22.0)

In [39]:
obesity_data.iat[4,4]

'no'

In [40]:
obesity_data['Age']

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [41]:
obesity_data.Age

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [42]:
obesity_data[['Age','Height','Weight','family_history']]

            Age    Height      Weight family_history
0     21.000000  1.620000   64.000000            yes
1     21.000000  1.520000   56.000000            yes
2     23.000000  1.800000   77.000000            yes
3     27.000000  1.800000   87.000000             no
4     22.000000  1.780000   89.800000             no
...         ...       ...         ...            ...
2106  20.976842  1.710730  131.408528            yes
2107  21.982942  1.748584  133.742943            yes
2108  22.524036  1.752206  133.689352            yes
2109  24.361936  1.739450  133.346641            yes
2110  23.664709  1.738836  133.472641            yes

[2111 rows x 4 columns]

Filtering of Data

Let's take an Example Filtering of data is come into play when we want data for only Those Folks Who have a family_history. Or some another conditions like who smokes or who don't smoke. So Basically we can say that we Select Data based on Some Specific Conditions or maybe multiple Conditions.

1. We gonna use loc here bcoz it is lable based indexing and our conditions are gonna based on lables like age, weight, height etc.
2. We gonna use loc bcoz it support Boolean based indexing, Example if given condition is true it will give data, if False then it not gonna give the Data. 
3. For Multiple Conditions we just gonna use Brackets to seprate the Conditions.

In [43]:
obesity_data.loc[obesity_data['Height']>1]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [44]:
obesity_data.loc[obesity_data['Weight']<60]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1,Female,21.000000,1.520000,56.000000,yes,no,3.000000,3.000000,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
5,Male,29.000000,1.620000,53.000000,no,yes,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
6,Female,23.000000,1.500000,55.000000,yes,yes,3.000000,3.000000,Sometimes,no,2.000000,no,1.000000,0.000000,Sometimes,Motorbike,Normal_Weight
7,Male,22.000000,1.640000,53.000000,no,no,2.000000,3.000000,Sometimes,no,2.000000,no,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
12,Male,22.000000,1.650000,56.000000,no,no,3.000000,3.000000,Sometimes,no,3.000000,no,2.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,Female,18.000000,1.456346,55.523481,no,yes,2.000000,3.000000,Sometimes,no,1.040342,yes,0.497373,1.783319,Sometimes,Public_Transportation,Overweight_Level_I
866,Female,18.000000,1.498561,55.376512,no,yes,2.000000,3.000000,Sometimes,no,1.274718,yes,0.129902,0.978574,Sometimes,Public_Transportation,Overweight_Level_I
892,Female,17.085250,1.535618,57.259124,no,yes,1.972545,2.339614,Sometimes,no,1.711074,yes,0.095517,1.191053,Sometimes,Public_Transportation,Overweight_Level_I
951,Female,17.420269,1.489409,53.620604,no,yes,1.836554,1.865238,Sometimes,no,2.000000,yes,0.320209,1.969507,Sometimes,Public_Transportation,Overweight_Level_I
952,Female,17.807828,1.518067,55.822119,no,yes,1.773265,2.118153,Sometimes,no,1.075239,yes,0.085388,1.915191,Sometimes,Public_Transportation,Overweight_Level_I

In [45]:
obesity_data.loc[(obesity_data['Weight']>50) | (obesity_data['Obesity']=='Normal_weight')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [46]:
obesity_data.loc[(obesity_data['Weight']>50) & (obesity_data['Obesity']=='Normal_weight')]

Empty DataFrame
Columns: [Gender, Age, Height, Weight, family_history, FAVC, FCVC, NCP, CAEC, SMOKE, CH2O, SCC, FAF, TUE, CALC, MTRANS, Obesity]
Index: []

FILTERING WITHOUT LOC 

we can do filtering without loc by using SHORT HAND NOTATION. In short hand notation we can just simply write the function like we write in loc, we just remove the function loc.
Example obesity_data[(obesity_data['Weight']>50) & (obesity_data['Obesity']=='Normal_weight')]

In [47]:
obesity_data[obesity_data['Weight']<60]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1,Female,21.000000,1.520000,56.000000,yes,no,3.000000,3.000000,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
5,Male,29.000000,1.620000,53.000000,no,yes,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
6,Female,23.000000,1.500000,55.000000,yes,yes,3.000000,3.000000,Sometimes,no,2.000000,no,1.000000,0.000000,Sometimes,Motorbike,Normal_Weight
7,Male,22.000000,1.640000,53.000000,no,no,2.000000,3.000000,Sometimes,no,2.000000,no,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
12,Male,22.000000,1.650000,56.000000,no,no,3.000000,3.000000,Sometimes,no,3.000000,no,2.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,Female,18.000000,1.456346,55.523481,no,yes,2.000000,3.000000,Sometimes,no,1.040342,yes,0.497373,1.783319,Sometimes,Public_Transportation,Overweight_Level_I
866,Female,18.000000,1.498561,55.376512,no,yes,2.000000,3.000000,Sometimes,no,1.274718,yes,0.129902,0.978574,Sometimes,Public_Transportation,Overweight_Level_I
892,Female,17.085250,1.535618,57.259124,no,yes,1.972545,2.339614,Sometimes,no,1.711074,yes,0.095517,1.191053,Sometimes,Public_Transportation,Overweight_Level_I
951,Female,17.420269,1.489409,53.620604,no,yes,1.836554,1.865238,Sometimes,no,2.000000,yes,0.320209,1.969507,Sometimes,Public_Transportation,Overweight_Level_I
952,Female,17.807828,1.518067,55.822119,no,yes,1.773265,2.118153,Sometimes,no,1.075239,yes,0.085388,1.915191,Sometimes,Public_Transportation,Overweight_Level_I

In [48]:
obesity_data[(obesity_data['Weight']>50) & (obesity_data['Obesity']=='Normal_weight')]

Empty DataFrame
Columns: [Gender, Age, Height, Weight, family_history, FAVC, FCVC, NCP, CAEC, SMOKE, CH2O, SCC, FAF, TUE, CALC, MTRANS, Obesity]
Index: []

In [49]:
obesity_data[(obesity_data['Weight']>50) | (obesity_data['Obesity']=='Normal_weight')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

FILTERING Of Data with  Regular Expressions(Regex).

In [ ]:
obesity_data.loc[obesity_data['Obesity'].str.contains('Normal')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,Male,25.0,1.66,68.0,no,yes,2.0,3.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,Male,20.0,1.80,65.0,no,yes,2.0,3.0,Frequently,no,1.0,no,2.0,0.0,Sometimes,Motorbike,Normal_Weight
494,Female,18.0,1.67,66.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,Male,19.0,1.80,60.0,yes,yes,3.0,1.0,Always,no,1.0,yes,0.0,0.0,no,Motorbike,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [ ]:
obesity_data.loc[obesity_data['Obesity'].str.startswith('Normal')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,Male,25.0,1.66,68.0,no,yes,2.0,3.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,Male,20.0,1.80,65.0,no,yes,2.0,3.0,Frequently,no,1.0,no,2.0,0.0,Sometimes,Motorbike,Normal_Weight
494,Female,18.0,1.67,66.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,Male,19.0,1.80,60.0,yes,yes,3.0,1.0,Always,no,1.0,yes,0.0,0.0,no,Motorbike,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [ ]:
obesity_data[obesity_data['Obesity'].str.startswith('Normal')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,Male,25.0,1.66,68.0,no,yes,2.0,3.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,Male,20.0,1.80,65.0,no,yes,2.0,3.0,Frequently,no,1.0,no,2.0,0.0,Sometimes,Motorbike,Normal_Weight
494,Female,18.0,1.67,66.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,Male,19.0,1.80,60.0,yes,yes,3.0,1.0,Always,no,1.0,yes,0.0,0.0,no,Motorbike,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [ ]:
obesity_data[obesity_data['MTRANS'].str.contains('Automobile')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
5,Male,29.000000,1.620000,53.000000,no,yes,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
13,Male,41.000000,1.800000,99.000000,no,yes,2.000000,3.000000,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Automobile,Obesity_Type_I
17,Female,29.000000,1.530000,78.000000,no,yes,2.000000,1.000000,Sometimes,no,2.000000,no,0.000000,0.000000,no,Automobile,Obesity_Type_I
18,Female,30.000000,1.710000,82.000000,yes,yes,3.000000,4.000000,Frequently,yes,1.000000,no,0.000000,0.000000,no,Automobile,Overweight_Level_II
21,Female,52.000000,1.690000,87.000000,yes,yes,3.000000,1.000000,Sometimes,yes,2.000000,no,0.000000,0.000000,no,Automobile,Obesity_Type_I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1762,Male,30.444081,1.761068,118.370628,yes,yes,2.571274,3.000000,Sometimes,no,2.224164,no,1.018158,1.152899,Sometimes,Automobile,Obesity_Type_II
1775,Male,37.207082,1.762921,118.401740,yes,yes,2.136830,2.993084,Sometimes,no,1.885926,no,0.615298,0.000000,Sometimes,Automobile,Obesity_Type_II
1776,Male,38.108940,1.752863,119.201465,yes,yes,2.499388,2.989791,Sometimes,no,1.959777,no,0.608100,0.646760,Sometimes,Automobile,Obesity_Type_II
1777,Male,38.644441,1.768235,117.792268,yes,yes,2.230742,2.920373,Sometimes,no,1.831187,no,0.756277,0.000000,Sometimes,Automobile,Obesity_Type_II
1778,Male,38.112989,1.766888,118.134898,yes,yes,2.240757,2.911568,Sometimes,no,1.895876,no,0.822186,0.000000,Sometimes,Automobile,Obesity_Type_II

In [ ]:
obesity_data[obesity_data['family_history'].str.contains('no')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
3,Male,27.000000,1.800000,87.000000,no,no,3.000000,3.000000,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.000000,1.000000,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.000000,1.620000,53.000000,no,yes,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
7,Male,22.000000,1.640000,53.000000,no,no,2.000000,3.000000,Sometimes,no,2.000000,no,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
12,Male,22.000000,1.650000,56.000000,no,no,3.000000,3.000000,Sometimes,no,3.000000,no,2.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,Female,19.621545,1.566524,61.616000,no,yes,2.908757,2.696051,Sometimes,no,1.622827,yes,0.539952,0.001096,Sometimes,Public_Transportation,Overweight_Level_I
963,Female,19.755797,1.542328,63.856193,no,yes,2.628791,2.762883,Sometimes,no,1.512035,yes,0.303722,0.003229,Sometimes,Public_Transportation,Overweight_Level_I
966,Male,29.153907,1.773656,87.070234,no,yes,1.595746,3.618722,Sometimes,no,1.274389,no,1.504003,0.370067,no,Automobile,Overweight_Level_I
976,Female,19.774317,1.541039,64.726948,no,yes,2.706134,2.669766,Sometimes,no,1.979848,yes,0.445238,0.908836,Sometimes,Public_Transportation,Overweight_Level_I
1013,Male,55.246250,1.769269,80.491339,no,yes,2.000000,3.000000,Sometimes,no,2.000000,no,1.000000,0.000000,no,Automobile,Overweight_Level_II

In [55]:
obesity_data[obesity_data['Gender'].str.contains('Male')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2,Male,23.000000,1.800000,77.000000,yes,no,2.000000,3.000000,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.000000,3.000000,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.000000,1.000000,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.000000,1.620000,53.000000,no,yes,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
7,Male,22.000000,1.640000,53.000000,no,no,2.000000,3.000000,Sometimes,no,2.000000,no,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1794,Male,30.642430,1.653876,102.583895,yes,yes,2.919526,2.142328,Sometimes,no,1.175714,no,0.958555,0.636289,no,Public_Transportation,Obesity_Type_II
1795,Male,20.068432,1.657132,105.580491,yes,yes,2.724121,1.437959,Sometimes,no,1.590418,no,0.029603,1.122118,no,Public_Transportation,Obesity_Type_II
1796,Male,20.914366,1.644751,101.067988,yes,yes,2.801992,1.343117,Sometimes,no,1.128942,no,0.233987,0.819980,no,Public_Transportation,Obesity_Type_II
1797,Male,25.512048,1.660761,104.321463,yes,yes,2.748971,1.213431,Sometimes,no,1.448875,no,0.128548,1.239038,no,Public_Transportation,Obesity_Type_II
1798,Male,26.844812,1.691510,102.595180,yes,yes,2.680375,1.089048,Sometimes,no,1.366238,no,0.181324,1.041677,no,Public_Transportation,Obesity_Type_II

Updating the Data

1. We can update data using all the fives loc, iloc, at, iat, short hand notation.
2. All the modification we do, are gonna happen in the original data frame itself.
3. And if we want to get back our original data, we can just read the csv file again.

In [56]:
obesity_data.loc[0,'Age']=21
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [57]:
obesity_data.loc[:,'SMOKE']='yes'
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [58]:
obesity_data.tail()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,yes,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,yes,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,yes,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,yes,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,yes,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [59]:
obesity_data=pd.read_csv('./obesity_prediction.csv')

In [60]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [61]:
obesity_data.loc[[2,3],'Height']=1.5
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.50,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.50,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [62]:
obesity_data.loc[:2, 'SMOKE']='maybe'
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,maybe,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,maybe,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.50,77.0,yes,no,2.0,3.0,Sometimes,maybe,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.50,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [63]:
### using iloc

obesity_data.iloc[1,4]='no'
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,maybe,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no,no,3.0,3.0,Sometimes,maybe,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.50,77.0,yes,no,2.0,3.0,Sometimes,maybe,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.50,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [64]:
obesity_data.iloc[1:5,5]='yes'
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,maybe,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no,yes,3.0,3.0,Sometimes,maybe,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.50,77.0,yes,yes,2.0,3.0,Sometimes,maybe,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.50,87.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [65]:
obesity_data.iloc[:,9]="doesn't matter"
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesn't matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no,yes,3.0,3.0,Sometimes,doesn't matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.50,77.0,yes,yes,2.0,3.0,Sometimes,doesn't matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.50,87.0,no,yes,3.0,3.0,Sometimes,doesn't matter,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,yes,2.0,1.0,Sometimes,doesn't matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [66]:
obesity_data.iloc[:1,15]='Walking'
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesn't matter,2.0,no,0.0,1.0,no,Walking,Normal_Weight
1,Female,21.0,1.52,56.0,no,yes,3.0,3.0,Sometimes,doesn't matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.50,77.0,yes,yes,2.0,3.0,Sometimes,doesn't matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.50,87.0,no,yes,3.0,3.0,Sometimes,doesn't matter,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,yes,2.0,1.0,Sometimes,doesn't matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [67]:
### Using at

obesity_data.at[3,'Obesity']='Normal_Weight' 
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesn't matter,2.0,no,0.0,1.0,no,Walking,Normal_Weight
1,Female,21.0,1.52,56.0,no,yes,3.0,3.0,Sometimes,doesn't matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.50,77.0,yes,yes,2.0,3.0,Sometimes,doesn't matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.50,87.0,no,yes,3.0,3.0,Sometimes,doesn't matter,2.0,no,2.0,0.0,Frequently,Walking,Normal_Weight
4,Male,22.0,1.78,89.8,no,yes,2.0,1.0,Sometimes,doesn't matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [68]:
### Using iat

obesity_data.iat[3,16]='Overweight'
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesn't matter,2.0,no,0.0,1.0,no,Walking,Normal_Weight
1,Female,21.0,1.52,56.0,no,yes,3.0,3.0,Sometimes,doesn't matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.50,77.0,yes,yes,2.0,3.0,Sometimes,doesn't matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.50,87.0,no,yes,3.0,3.0,Sometimes,doesn't matter,2.0,no,2.0,0.0,Frequently,Walking,Overweight
4,Male,22.0,1.78,89.8,no,yes,2.0,1.0,Sometimes,doesn't matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [69]:
obesity_data['SMOKE'] = 'yes'
obesity_data.tail()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,yes,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,yes,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,yes,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,yes,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,yes,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

Short hand notation

When we want to apply some kind of transformation of function across an entire column or across an entire row example- suppose here hypothetically, we 
have age , height, weight, now what if we want to increase the age of all the data points by 5.

1. we can also do complex kind of transformation like
                                    1. Multiply by 2 or divide by 2.
                                    2. we can add any another columns also.
                                    3. calculate BMI based on height, weight, etc.

In [70]:
def increment_age_by_5(x):
    return x+5
obesity_data['Age']=obesity_data['Age'].apply(increment_age_by_5)
obesity_data['Age']

0       26.000000
1       26.000000
2       28.000000
3       32.000000
4       27.000000
          ...
2106    25.976842
2107    26.982942
2108    27.524036
2109    29.361936
2110    28.664709
Name: Age, Length: 2111, dtype: float64

In [71]:
def multiply_weight_by_2(x):
    return x*2
obesity_data['Weight']=obesity_data['Weight'].apply(multiply_weight_by_2)
obesity_data['Weight']

0       128.000000
1       112.000000
2       154.000000
3       174.000000
4       179.600000
           ...
2106    262.817056
2107    267.485886
2108    267.378704
2109    266.693282
2110    266.945282
Name: Weight, Length: 2111, dtype: float64

In [72]:
### short hand using lambda

obesity_data['Age']=obesity_data['Age'].apply(lambda x:x-5)
obesity_data['Age']

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [73]:
### For applying columns
 
obesity_data['Age Category']=obesity_data['Age'].apply(lambda x:'Very Young' if x<25 else 'old/not so young')
obesity_data.head(20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category
0,Female,21.0,1.62,128.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Walking,Normal_Weight,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight,old/not so young
4,Male,22.0,1.78,179.6,no,yes,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young
5,Male,29.0,1.62,106.0,no,yes,2.0,3.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,old/not so young
6,Female,23.0,1.50,110.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,Very Young
7,Male,22.0,1.64,106.0,no,no,2.0,3.0,Sometimes,yes,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
8,Male,24.0,1.78,128.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young
9,Male,22.0,1.72,136.0,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight,Very Young
10,Male,26.0,1.85,210.0,yes,yes,3.0,3.0,Frequently,yes,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I,old/not so young
11,Female,21.0,1.72,160.0,yes,yes,2.0,3.0,Frequently,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young
12,Male,22.0,1.65,112.0,no,no,3.0,3.0,Sometimes,yes,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
13,Male,41.0,1.80,198.0,no,yes,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I,old/not so young
14,Male,23.0,1.77,120.0,yes,yes,3.0,1.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
15,Female,22.0,1.70,132.0,yes,no,3.0,3.0,Always,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,Very Young
16,Male,27.0,1.93,204.0,yes,yes,2.0,1.0,Sometimes,yes,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,old/not so young
17,Female,29.0,1.53,156.0,no,yes,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I,old/not so young
18,Female,30.0,1.71,164.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II,old/not so young
19,Female,23.0,1.65,140.0,yes,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I,Very Young

In [74]:
### But when we don't have to do some complex task, simlarly like we do above and we have to apply it across the entire columns, we can directly apply
### it using Numpy Vectorized Operations.

import numpy as np
obesity_data['New Age Category']=np.where(obesity_data["Age"]<25, 'Very Young', 'old/Not so young')
obesity_data.head(20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,128.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,no,yes,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young
5,Male,29.0,1.62,106.0,no,yes,2.0,3.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,old/not so young,old/Not so young
6,Female,23.0,1.50,110.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,Very Young,Very Young
7,Male,22.0,1.64,106.0,no,no,2.0,3.0,Sometimes,yes,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
8,Male,24.0,1.78,128.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young,Very Young
9,Male,22.0,1.72,136.0,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,Very Young
10,Male,26.0,1.85,210.0,yes,yes,3.0,3.0,Frequently,yes,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I,old/not so young,old/Not so young
11,Female,21.0,1.72,160.0,yes,yes,2.0,3.0,Frequently,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young
12,Male,22.0,1.65,112.0,no,no,3.0,3.0,Sometimes,yes,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
13,Male,41.0,1.80,198.0,no,yes,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I,old/not so young,old/Not so young
14,Male,23.0,1.77,120.0,yes,yes,3.0,1.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
15,Female,22.0,1.70,132.0,yes,no,3.0,3.0,Always,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
16,Male,27.0,1.93,204.0,yes,yes,2.0,1.0,Sometimes,yes,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,old/not so young,old/Not so young
17,Female,29.0,1.53,156.0,no,yes,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I,old/not so young,old/Not so young
18,Female,30.0,1.71,164.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II,old/not so young,old/Not so young
19,Female,23.0,1.65,140.0,yes,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I,Very Young,Very Young

In [75]:
### When we want to add columns at a particular position, we could do it by using insert.
### here 4 is location, BMI is column which we want to insert, 20 is the value

obesity_data.insert(4, 'BMI', 20)
obesity_data.head(21)

,Gender,Age,Height,Weight,BMI,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,128.0,20,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,20,no,yes,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,20,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,20,no,yes,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,20,no,yes,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young
5,Male,29.0,1.62,106.0,20,no,yes,2.0,3.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,old/not so young,old/Not so young
6,Female,23.0,1.50,110.0,20,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,Very Young,Very Young
7,Male,22.0,1.64,106.0,20,no,no,2.0,3.0,Sometimes,yes,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
8,Male,24.0,1.78,128.0,20,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young,Very Young
9,Male,22.0,1.72,136.0,20,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight,Very Young,Very Young
10,Male,26.0,1.85,210.0,20,yes,yes,3.0,3.0,Frequently,yes,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I,old/not so young,old/Not so young
11,Female,21.0,1.72,160.0,20,yes,yes,2.0,3.0,Frequently,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young
12,Male,22.0,1.65,112.0,20,no,no,3.0,3.0,Sometimes,yes,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
13,Male,41.0,1.80,198.0,20,no,yes,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I,old/not so young,old/Not so young
14,Male,23.0,1.77,120.0,20,yes,yes,3.0,1.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
15,Female,22.0,1.70,132.0,20,yes,no,3.0,3.0,Always,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
16,Male,27.0,1.93,204.0,20,yes,yes,2.0,1.0,Sometimes,yes,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,old/not so young,old/Not so young
17,Female,29.0,1.53,156.0,20,no,yes,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I,old/not so young,old/Not so young
18,Female,30.0,1.71,164.0,20,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II,old/not so young,old/Not so young
19,Female,23.0,1.65,140.0,20,yes,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I,Very Young,Very Young
20,Male,22.0,1.65,160.0,20,yes,no,2.0,3.0,Sometimes,yes,2.0,no,3.0,2.0,no,Walking,Overweight_Level_II,Very Young,Very Young

In [76]:
### Deleating of a particular columns but it not gonna change in real data frame until we give 'inplace=True'.

obesity_data.drop(columns='BMI')

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.000000,1.620000,128.000000,yes,no,2.0,3.0,Sometimes,yes,2.000000,no,0.000000,1.000000,no,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.000000,1.520000,112.000000,no,yes,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.000000,1.500000,154.000000,yes,yes,2.0,3.0,Sometimes,yes,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.000000,1.500000,174.000000,no,yes,3.0,3.0,Sometimes,yes,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.000000,1.780000,179.600000,no,yes,2.0,1.0,Sometimes,yes,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,262.817056,yes,yes,3.0,3.0,Sometimes,yes,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2107,Female,21.982942,1.748584,267.485886,yes,yes,3.0,3.0,Sometimes,yes,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2108,Female,22.524036,1.752206,267.378704,yes,yes,3.0,3.0,Sometimes,yes,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2109,Female,24.361936,1.739450,266.693282,yes,yes,3.0,3.0,Sometimes,yes,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2110,Female,23.664709,1.738836,266.945282,yes,yes,3.0,3.0,Sometimes,yes,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III,Very Young,Very Young

In [77]:
obesity_data.head()

,Gender,Age,Height,Weight,BMI,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,128.0,20,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,20,no,yes,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,20,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,20,no,yes,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,20,no,yes,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [78]:
obesity_data.drop(columns='BMI', inplace=True)

In [79]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,128.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,no,yes,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [80]:
### Let's insert the columns again but with math expresion.

obesity_data.insert(2, 'BMI', obesity_data['Weight']/obesity_data['Height']**2)
obesity_data.head()

,Gender,Age,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,48.773053,1.62,128.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,48.476454,1.52,112.0,no,yes,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,68.444444,1.50,154.0,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,77.333333,1.50,174.0,no,yes,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,56.684762,1.78,179.6,no,yes,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [81]:
obesity_data=obesity_data.drop(columns='BMI')

In [82]:
### Add multiple columns together

obesity_data.insert(2,'BMI', obesity_data['Weight']/obesity_data['Height']**2)
obesity_data.insert(2, 'BMI New', obesity_data['Weight']/obesity_data['Height']**2)
obesity_data.head()

,Gender,Age,BMI New,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,...,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,48.773053,48.773053,1.62,128.0,yes,no,2.0,3.0,...,yes,2.0,no,0.0,1.0,no,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,48.476454,48.476454,1.52,112.0,no,yes,3.0,3.0,...,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,68.444444,68.444444,1.50,154.0,yes,yes,2.0,3.0,...,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,77.333333,77.333333,1.50,174.0,no,yes,3.0,3.0,...,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,56.684762,56.684762,1.78,179.6,no,yes,2.0,1.0,...,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [83]:
### Deleating multiple columns

obesity_data.drop(columns=['BMI', 'BMI New'],inplace=True)
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,128.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,no,yes,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [84]:
### Drop don't make changes in orignal data frame. 
### Delete make changes in orignal data frame.

del obesity_data['CALC']

In [85]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,128.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,no,yes,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [86]:

del obesity_data['NCP']
obesity_data.head(5)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,128.0,yes,no,2.0,Sometimes,yes,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,no,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [87]:
### Renaming a particular columns

obesity_data.rename(columns={'Obesity':'Category'})

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,MTRANS,Category,Age Category,New Age Category
0,Female,21.000000,1.620000,128.000000,yes,no,2.0,Sometimes,yes,2.000000,no,0.000000,1.000000,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.000000,1.520000,112.000000,no,yes,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.000000,1.500000,154.000000,yes,yes,2.0,Sometimes,yes,2.000000,no,2.000000,1.000000,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.000000,1.500000,174.000000,no,yes,3.0,Sometimes,yes,2.000000,no,2.000000,0.000000,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.000000,1.780000,179.600000,no,yes,2.0,Sometimes,yes,2.000000,no,0.000000,0.000000,Public_Transportation,Overweight_Level_II,Very Young,Very Young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,262.817056,yes,yes,3.0,Sometimes,yes,1.728139,no,1.676269,0.906247,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2107,Female,21.982942,1.748584,267.485886,yes,yes,3.0,Sometimes,yes,2.005130,no,1.341390,0.599270,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2108,Female,22.524036,1.752206,267.378704,yes,yes,3.0,Sometimes,yes,2.054193,no,1.414209,0.646288,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2109,Female,24.361936,1.739450,266.693282,yes,yes,3.0,Sometimes,yes,2.852339,no,1.139107,0.586035,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2110,Female,23.664709,1.738836,266.945282,yes,yes,3.0,Sometimes,yes,2.863513,no,1.026452,0.714137,Public_Transportation,Obesity_Type_III,Very Young,Very Young

In [88]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,128.0,yes,no,2.0,Sometimes,yes,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,no,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [89]:
obesity_data.rename(columns={'Obesity':'Category'}, inplace=True)

In [90]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,MTRANS,Category,Age Category,New Age Category
0,Female,21.0,1.62,128.0,yes,no,2.0,Sometimes,yes,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,no,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [91]:
obesity_data.rename(columns={'MTRANS':'Way of Transportation'}, inplace=True)
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Category,Age Category,New Age Category
0,Female,21.0,1.62,128.0,yes,no,2.0,Sometimes,yes,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,no,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [92]:
obesity_data.rename(columns={'Way od Transportation':'Ways of Transportation'}, inplace=True)
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Category,Age Category,New Age Category
0,Female,21.0,1.62,128.0,yes,no,2.0,Sometimes,yes,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,no,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [93]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Category,Age Category,New Age Category
0,Female,21.0,1.62,128.0,yes,no,2.0,Sometimes,yes,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,no,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [94]:
### Renaming multiple columns.

obesity_data.rename(columns={'New Age Categoty':'Reduntant info', 'Category':'Weight Caterogy'})

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Weight Caterogy,Age Category,New Age Category
0,Female,21.000000,1.620000,128.000000,yes,no,2.0,Sometimes,yes,2.000000,no,0.000000,1.000000,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.000000,1.520000,112.000000,no,yes,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.000000,1.500000,154.000000,yes,yes,2.0,Sometimes,yes,2.000000,no,2.000000,1.000000,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.000000,1.500000,174.000000,no,yes,3.0,Sometimes,yes,2.000000,no,2.000000,0.000000,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.000000,1.780000,179.600000,no,yes,2.0,Sometimes,yes,2.000000,no,0.000000,0.000000,Public_Transportation,Overweight_Level_II,Very Young,Very Young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,262.817056,yes,yes,3.0,Sometimes,yes,1.728139,no,1.676269,0.906247,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2107,Female,21.982942,1.748584,267.485886,yes,yes,3.0,Sometimes,yes,2.005130,no,1.341390,0.599270,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2108,Female,22.524036,1.752206,267.378704,yes,yes,3.0,Sometimes,yes,2.054193,no,1.414209,0.646288,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2109,Female,24.361936,1.739450,266.693282,yes,yes,3.0,Sometimes,yes,2.852339,no,1.139107,0.586035,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2110,Female,23.664709,1.738836,266.945282,yes,yes,3.0,Sometimes,yes,2.863513,no,1.026452,0.714137,Public_Transportation,Obesity_Type_III,Very Young,Very Young

In [95]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Category,Age Category,New Age Category
0,Female,21.0,1.62,128.0,yes,no,2.0,Sometimes,yes,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,no,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [96]:
obesity_data.rename(columns={'New Age Category':'Reduntant info', 'Category':'Weight Category'},inplace=True)
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Weight Category,Age Category,Reduntant info
0,Female,21.0,1.62,128.0,yes,no,2.0,Sometimes,yes,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,no,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

Merge, Join, and Concatenate Dataframes.

Just like in SQL we performs joints here also we can Combine multiple data frames or we can merge multiple data frame based on one or more common columns.
For combining this data we basically use 4 ways:
1. inner (intersection of both DF)
2. outer (union of both DF)
3. left
4. right

In [97]:
#### Let's get started by Creating our two basic dataframe. df1 and df2
### Here we use merge, we have 4 values to pass in merge 1.left dataframe 2.right dataframe 3.how do we want to merge 4.on what we want to merge
### Like here df1 is left dataframe, df2 is right dataframe, how=inner, and in id basics we want to merge.

df1 = pd.DataFrame({
    'id':[1,2,3,4],
    'Names':['Kajal','Sneha','Senjuti','Youtub']
})
df2 = pd.DataFrame({
    'id':[3,4,5,6],
    'Course':['Ml','CPP','LLD','HLD']
})
inner_result=pd.merge(df1,df2, how='inner', on='id')
inner_result

   id    Names Course
0   3  Senjuti     Ml
1   4   Youtub    CPP

In [98]:
### For outer
### We get all the data from both dataframe but with some NaN (Not a Number), which is used for any missing or undefine values.Doesn't have
### to be a number every time.

outer_result=pd.merge(df1,df2, how='outer', on='id')
outer_result

   id    Names Course
0   1    Kajal    NaN
1   2    Sneha    NaN
2   3  Senjuti     Ml
3   4   Youtub    CPP
4   5      NaN    LLD
5   6      NaN    HLD

In [99]:
### For Left
### Give all the left values which is not null
### Right value can be null but not the left one.

left_result=pd.merge(df1,df2, how='left', on='id') 
left_result

   id    Names Course
0   1    Kajal    NaN
1   2    Sneha    NaN
2   3  Senjuti     Ml
3   4   Youtub    CPP

In [100]:
### For Right
### Give all the Right values which is not null
### Left value can be null but not the Right one.

right_result=pd.merge(df1,df2, how='right', on='id')
right_result

   id    Names Course
0   3  Senjuti     Ml
1   4   Youtub    CPP
2   5      NaN    LLD
3   6      NaN    HLD

Right now in the above example we have the common column 'id', basically we have the same labels in both of the dataframes But that might not be a scenario in real life case. 
Bcoz in real life scenario in one data frame or csv file it might be called 'user ID' and in another csv file or data frame it might be called 'student ID' or 'Employee ID'. so basically we have same columns but differents labels in both dataframe.
And that's why for merging this two data frame we use 'right_on' or 'left_on' insted of 'on'.
Let's get started.

In [101]:
df3=pd.DataFrame({
    'id1':[1,2,3,4],
    'Names':['Kajal','Sneha','Senjuti','Youtub']
})
df4 = pd.DataFrame({
    'id2':[3,4,5,6],
    'Course':['Ml','CPP','LLD','HLD']
})
inner_result=pd.merge(df3,df4, how='inner', left_on='id1', right_on='id2')
inner_result

   id1    Names  id2 Course
0    3  Senjuti    3     Ml
1    4   Youtub    4    CPP

Concatenating DataFrame (basically different ways of combining 2 Data Frame)

sometimes we want to combine our data frames but not on basicis of some columns, we just want to stack them on top of each other, that can be row wise or column wise. Basically stack them either vertically or horizontally. This is called concatenating two data frame.

In [102]:
### here we can see that  
### here we can see that, we have to give 1.iterables either series or data frame. Basically what all the data frames we want to combine 
#                                         2.axis means either we want to do it vertically or horizontally.


df1 = pd.DataFrame({
    'id':[1,2,3,4],
    'Names':['Kajal','Sneha','Senjuti','Youtub']
})
df2 = pd.DataFrame({
    'id':[3,4,5,6],
    'Course':['Ml','CPP','LLD','HLD']
})
result=pd.concat([df1,df2], axis=0)             ### here we get index 0 1 2 3 0 1 2 3 bcoz we combine it as a stack but we want index
result                                          ### like 0 1 2 3 4 5 6 7 For that we gonna use ignor_index.

   id    Names Course
0   1    Kajal    NaN
1   2    Sneha    NaN
2   3  Senjuti    NaN
3   4   Youtub    NaN
0   3      NaN     Ml
1   4      NaN    CPP
2   5      NaN    LLD
3   6      NaN    HLD

In [103]:
df1=pd.DataFrame({
    'id':[1,2,3,4,],
    'Name':['Kajal','Sneha','Senjuti','Youtub']
})
df2=pd.DataFrame({
    'id':[3,4,5,6],
    'Course':['ML','CPP','LLD','HLD']
})
result=pd.concat([df1,df2], axis=0, ignore_index=True)
result

   id     Name Course
0   1    Kajal    NaN
1   2    Sneha    NaN
2   3  Senjuti    NaN
3   4   Youtub    NaN
4   3      NaN     ML
5   4      NaN    CPP
6   5      NaN    LLD
7   6      NaN    HLD

In [104]:
### Horizontally

result2=pd.concat([df1,df2],axis=1)
result

   id     Name Course
0   1    Kajal    NaN
1   2    Sneha    NaN
2   3  Senjuti    NaN
3   4   Youtub    NaN
4   3      NaN     ML
5   4      NaN    CPP
6   5      NaN    LLD
7   6      NaN    HLD

In [105]:
### concatinating by using keys
## here we see hierarchial indexing/multi-level indexing is created.

result3=pd.concat([df1,df2], axis=0, keys=['df1','df2'])    ## we can differentiate the row that are coming from both the Dataframe.  
result3

       id     Name Course
df1 0   1    Kajal    NaN
    1   2    Sneha    NaN
    2   3  Senjuti    NaN
    3   4   Youtub    NaN
df2 0   3      NaN     ML
    1   4      NaN    CPP
    2   5      NaN    LLD
    3   6      NaN    HLD

Handling Null Values

Why? why the hell we want to handle the null value, Answer: When we Combine these data frame While doing our merging and concatination.  We see so many null values like missing, undefine, NaN Which is not good for real scenarios Eample: Taking Average when we have lots of null value Probably give inaccurate Average Therefore we handle the null values.  

There are various ways to handle these null values some of them we gonna use but dor handling Null Values there are two steps:
1. We Detect the null value.
2. Then we handle the null values.

In [106]:
### Detect the null value by using isna, notna These two function gonna gives us True where the value is Nan.

result3.isna()

          id   Name  Course
df1 0  False  False    True
    1  False  False    True
    2  False  False    True
    3  False  False    True
df2 0  False   True   False
    1  False   True   False
    2  False   True   False
    3  False   True   False

In [107]:
result3.notna()

         id   Name  Course
df1 0  True   True   False
    1  True   True   False
    2  True   True   False
    3  True   True   False
df2 0  True  False    True
    1  True  False    True
    2  True  False    True
    3  True  False    True

In [108]:
result3.isna().sum()        ### Gives no. of null values/how many nulls are there.

id        0
Name      4
Course    4
dtype: int64

In [109]:
result.notna().sum()

id        8
Name      4
Course    4
dtype: int64

In [110]:
### Let's check it with our obesity data

obesity_data.isna()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Weight Category,Age Category,Reduntant info
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2107,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2108,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2109,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2110,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [111]:
obesity_data.notna()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Weight Category,Age Category,Reduntant info
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2107,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2108,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2109,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2110,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [112]:
obesity_data.isna().sum()

Gender                   0
Age                      0
Height                   0
Weight                   0
family_history           0
FAVC                     0
FCVC                     0
CAEC                     0
SMOKE                    0
CH2O                     0
SCC                      0
FAF                      0
TUE                      0
Way of Transportation    0
Weight Category          0
Age Category             0
Reduntant info           0
dtype: int64

In [113]:
obesity_data.notna().sum()

Gender                   2111
Age                      2111
Height                   2111
Weight                   2111
family_history           2111
FAVC                     2111
FCVC                     2111
CAEC                     2111
SMOKE                    2111
CH2O                     2111
SCC                      2111
FAF                      2111
TUE                      2111
Way of Transportation    2111
Weight Category          2111
Age Category             2111
Reduntant info           2111
dtype: int64

In [114]:
obesity_data.loc[0,'family_history']='yes'
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Weight Category,Age Category,Reduntant info
0,Female,21.0,1.62,128.0,yes,no,2.0,Sometimes,yes,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,no,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [115]:
### Now step 2 handling the null value. And for that we fill the null value with some value.
### But as see above we don't have any null value in our obesity_data that's why firstly we gonna add some.


obesity_data.loc[0,'Age']=np.nan
obesity_data.loc[0,'SMOKE']=np.nan
obesity_data.loc[4,'family_history']=np.nan
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Weight Category,Age Category,Reduntant info
0,Female,NaN,1.62,128.0,yes,no,2.0,Sometimes,NaN,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,NaN,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [116]:
obesity_data.fillna(0)    ### here we fill all the null values with 0

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Weight Category,Age Category,Reduntant info
0,Female,0.000000,1.620000,128.000000,yes,no,2.0,Sometimes,0,2.000000,no,0.000000,1.000000,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.000000,1.520000,112.000000,no,yes,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.000000,1.500000,154.000000,yes,yes,2.0,Sometimes,yes,2.000000,no,2.000000,1.000000,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.000000,1.500000,174.000000,no,yes,3.0,Sometimes,yes,2.000000,no,2.000000,0.000000,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.000000,1.780000,179.600000,0,yes,2.0,Sometimes,yes,2.000000,no,0.000000,0.000000,Public_Transportation,Overweight_Level_II,Very Young,Very Young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,262.817056,yes,yes,3.0,Sometimes,yes,1.728139,no,1.676269,0.906247,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2107,Female,21.982942,1.748584,267.485886,yes,yes,3.0,Sometimes,yes,2.005130,no,1.341390,0.599270,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2108,Female,22.524036,1.752206,267.378704,yes,yes,3.0,Sometimes,yes,2.054193,no,1.414209,0.646288,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2109,Female,24.361936,1.739450,266.693282,yes,yes,3.0,Sometimes,yes,2.852339,no,1.139107,0.586035,Public_Transportation,Obesity_Type_III,Very Young,Very Young
2110,Female,23.664709,1.738836,266.945282,yes,yes,3.0,Sometimes,yes,2.863513,no,1.026452,0.714137,Public_Transportation,Obesity_Type_III,Very Young,Very Young

In [117]:
obesity_data.fillna(0, inplace=True)
obesity_data.head()                           ### Gonna make changes in original data frame.

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Weight Category,Age Category,Reduntant info
0,Female,0.0,1.62,128.0,yes,no,2.0,Sometimes,0,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,0,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [119]:
### Above we see we get 0 inplace in all the null value, which don't make any sense in family_history or in smoke columns.
# So we gonna assign fillna seperately.   

obesity_data.loc[0,'Age']=np.nan
obesity_data.loc[0,'SMOKE']=np.nan
obesity_data.loc[4,'family_history']=np.nan
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Weight Category,Age Category,Reduntant info
0,Female,NaN,1.62,128.0,yes,no,2.0,Sometimes,NaN,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,NaN,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [122]:
obesity_data['Age']=obesity_data['Age'].fillna(20)
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Weight Category,Age Category,Reduntant info
0,Female,20.0,1.62,128.0,yes,no,2.0,Sometimes,NaN,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,NaN,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [125]:
obesity_data['Age']=obesity_data['Age'].fillna(obesity_data['Age'].mean())
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Weight Category,Age Category,Reduntant info
0,Female,20.0,1.62,128.0,yes,no,2.0,Sometimes,NaN,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,NaN,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [126]:
### Multiple columns

obesity_data.fillna({'SMOKE':'no', 'family_history':'yes'}, inplace=True)

In [127]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Weight Category,Age Category,Reduntant info
0,Female,20.0,1.62,128.0,yes,no,2.0,Sometimes,no,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,27.0,1.50,174.0,no,yes,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,yes,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [129]:
### Similarly insted of mean we can also take interpolate.

obesity_data.loc[3,'Age']=np.nan
obesity_data.loc[0,'SMOKE']=np.nan
obesity_data.loc[4,'family_history']=np.nan
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Weight Category,Age Category,Reduntant info
0,Female,NaN,1.62,128.0,yes,no,2.0,Sometimes,NaN,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,NaN,1.50,174.0,no,yes,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,NaN,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

In [130]:
obesity_data['Age']=obesity_data['Age'].fillna(obesity_data['Age'].interpolate())
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Weight Category,Age Category,Reduntant info
0,Female,NaN,1.62,128.0,yes,no,2.0,Sometimes,NaN,2.0,no,0.0,1.0,Walking,Normal_Weight,Very Young,Very Young
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
3,Male,22.5,1.50,174.0,no,yes,3.0,Sometimes,yes,2.0,no,2.0,0.0,Walking,Overweight,old/not so young,old/Not so young
4,Male,22.0,1.78,179.6,NaN,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Public_Transportation,Overweight_Level_II,Very Young,Very Young

We could also mention limits in fillna, means in the particular columns, how many are the maximum number of null values that we want to replace. Not the all.

In [137]:
### We can also just delete/drop all the row/columns where any value is null or any specific row/columns.

obesity_data.dropna(inplace=True)
obesity_data.head()                             ### Here we can see that entire row(row 0) Which is having null value is deleted.

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Weight Category,Age Category,Reduntant info
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
5,Male,29.0,1.62,106.0,no,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Automobile,Normal_Weight,old/not so young,old/Not so young
6,Female,23.0,1.50,110.0,yes,yes,3.0,Sometimes,yes,2.0,no,1.0,0.0,Motorbike,Normal_Weight,Very Young,Very Young
7,Male,22.0,1.64,106.0,no,no,2.0,Sometimes,yes,2.0,no,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young

In [138]:
### for columns we use axis=1.

obesity_data.dropna(axis=1)                ### We don't get any change bcoz we don't have any null value in columns.
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Weight Category,Age Category,Reduntant info
1,Female,21.0,1.52,112.0,no,yes,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young
2,Male,23.0,1.50,154.0,yes,yes,2.0,Sometimes,yes,2.0,no,2.0,1.0,Public_Transportation,Normal_Weight,Very Young,Very Young
5,Male,29.0,1.62,106.0,no,yes,2.0,Sometimes,yes,2.0,no,0.0,0.0,Automobile,Normal_Weight,old/not so young,old/Not so young
6,Female,23.0,1.50,110.0,yes,yes,3.0,Sometimes,yes,2.0,no,1.0,0.0,Motorbike,Normal_Weight,Very Young,Very Young
7,Male,22.0,1.64,106.0,no,no,2.0,Sometimes,yes,2.0,no,3.0,0.0,Public_Transportation,Normal_Weight,Very Young,Very Young

In [143]:
### Group by

obesity_data.groupby('Gender').count()

,Age,Height,Weight,family_history,FAVC,FCVC,CAEC,SMOKE,CH2O,SCC,FAF,TUE,Way of Transportation,Weight Category,Age Category,Reduntant info
Gender,,,,,,,,,,,,,,,,
Female,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042
Male,1066,1066,1066,1066,1066,1066,1066,1066,1066,1066,1066,1066,1066,1066,1066,1066

In [142]:
obesity_data.groupby('Gender')['Height'].mean()

Gender
Female    1.64332
Male      1.75835
Name: Height, dtype: float64

In [144]:
obesity_data.groupby('Gender')['Weight'].median()

Gender
Female    156.008388
Male      179.973351
Name: Weight, dtype: float64

In [147]:
### we can also take aggregation in place of mean or meadian.

obesity_data.groupby('Gender')['Weight'].agg(['sum','mean'])

                  sum        mean
Gender
Female  171554.731666  164.639858
Male    193530.005744  181.547848

That's all we are gonna do For now.
Just want to say "Keep going, never stop learning".